# Data Immersion Task 6.1

# Contents

1. df_2015 data consistency checks
2. df_2016 data consistency checks
3. df_2017 data consistency checks
4. df_2018 data consistency checks
5. df_2019 data consistenct checks

Data consistency checks consist of importing data sets, investigating accuracy of columns, checking for mixed-type data, checking for missing values, checking for duplicates, and exporting checked data.

In [1]:
#Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Define the path

path = r'C:\Users\avamk\Happiness Report Analysis'

# 1. 2015 World Happiness Data

In [3]:
#Import happiness report 2015 data set

df_2015 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WHR_2015.csv'))

In [4]:
df_2015.head()

,Country,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity,Dystopia Residual,Standard Error
0,Switzerland,1,7.59,1.40,1.35,0.94,0.67,0.42,0.30,2.52,0.03
1,Iceland,2,7.56,1.30,1.40,0.95,0.63,0.14,0.44,2.70,0.05
2,Denmark,3,7.53,1.33,1.36,0.87,0.65,0.48,0.34,2.49,0.03
3,Norway,4,7.52,1.46,1.33,0.89,0.67,0.37,0.35,2.47,0.04
4,Canada,5,7.43,1.33,1.32,0.91,0.63,0.33,0.46,2.45,0.04

In [5]:
df_2015.describe()

,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity,Dystopia Residual,Standard Error
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.376646,0.846076,0.991076,0.630380,0.428544,0.143481,0.237089,2.098987,0.048038
std,45.754363,1.144878,0.403050,0.272812,0.247118,0.150683,0.120323,0.127100,0.553789,0.017538
min,1.000000,2.840000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.330000,0.020000
25%,40.250000,4.527500,0.550000,0.860000,0.440000,0.330000,0.060000,0.150000,1.760000,0.040000
50%,79.500000,5.230000,0.910000,1.030000,0.700000,0.435000,0.110000,0.220000,2.095000,0.040000
75%,118.750000,6.245000,1.157500,1.217500,0.810000,0.550000,0.180000,0.310000,2.465000,0.050000
max,158.000000,7.590000,1.690000,1.400000,1.030000,0.670000,0.550000,0.800000,3.600000,0.140000

In [6]:
#Check for mixed-type data

for col in df_2015.columns.tolist():
  weird = (df_2015[[col]].applymap(type) != df_2015[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2015[weird]) > 0:
    print (col)

No mixed-type data found in the 2015 data set.

In [7]:
#Check for missing values

df_2015.isnull().sum()

Country                     0
Overall Rank                0
Happiness Score             0
Economy (GDP per Capita)    0
Social Support              0
Health (Life Expectancy)    0
Freedom                     0
Perception of Corruption    0
Generosity                  0
Dystopia Residual           0
Standard Error              0
dtype: int64

No missing values found in the 2015 data set.

In [8]:
#Check for duplicates

df_dups_15 = df_2015[df_2015.duplicated()]

In [9]:
df_dups_15

Empty DataFrame
Columns: [Country, Overall Rank, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom, Perception of Corruption, Generosity, Dystopia Residual, Standard Error]
Index: []

No duplicates found in the 2015 data set.

In [10]:
#Export WHR_2015_Checked

df_2015.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR_2015_checked.csv'))

# 2. 2016 World Happiness Data

In [11]:
#Import happiness report 2016 data set

df_2016 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WHR_2016.csv'))

In [12]:
df_2016.head()

,Country,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity,Dystopia Residual,Lower Confidence Interval,Upper Confidence Interval
0,Denmark,1,7.53,1.44,1.16,0.80,0.58,0.44,0.36,2.74,7.46,7.59
1,Switzerland,2,7.51,1.53,1.15,0.86,0.59,0.41,0.28,2.69,7.43,7.59
2,Iceland,3,7.50,1.43,1.18,0.87,0.57,0.15,0.48,2.83,7.33,7.67
3,Norway,4,7.50,1.58,1.13,0.80,0.60,0.36,0.38,2.66,7.42,7.58
4,Finland,5,7.41,1.41,1.13,0.81,0.57,0.41,0.25,2.83,7.35,7.48

In [13]:
df_2016.describe()

,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity,Dystopia Residual,Lower Confidence Interval,Upper Confidence Interval
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.383057,0.953567,0.793567,0.557771,0.371338,0.137707,0.242611,2.325732,5.283057,5.482166
std,45.466030,1.141544,0.412784,0.266639,0.229488,0.145131,0.110934,0.133451,0.542025,1.148119,1.136653
min,1.000000,2.910000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.820000,2.730000,3.080000
25%,40.000000,4.400000,0.670000,0.640000,0.380000,0.260000,0.060000,0.150000,2.030000,4.330000,4.470000
50%,79.000000,5.310000,1.030000,0.840000,0.600000,0.400000,0.110000,0.220000,2.290000,5.240000,5.420000
75%,118.000000,6.270000,1.280000,1.020000,0.730000,0.480000,0.180000,0.310000,2.660000,6.150000,6.430000
max,157.000000,7.530000,1.820000,1.180000,0.950000,0.610000,0.510000,0.820000,3.840000,7.460000,7.670000

In [14]:
#Check for mixed-type data

for col in df_2016.columns.tolist():
  weird = (df_2016[[col]].applymap(type) != df_2016[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2016[weird]) > 0:
    print (col)

No mixed-type data found in the 2016 data set.

In [15]:
#Check for missing values

df_2016.isnull().sum()

Country                      0
Overall Rank                 0
Happiness Score              0
Economy (GDP per Capita)     0
Social Support               0
Health (Life Expectancy)     0
Freedom                      0
Perception of Corruption     0
Generosity                   0
Dystopia Residual            0
Lower Confidence Interval    0
Upper Confidence Interval    0
dtype: int64

No missing values found in the 2016 data set.

In [16]:
#Check for duplicates

df_dups_16 = df_2016[df_2016.duplicated()]

In [17]:
df_dups_16

Empty DataFrame
Columns: [Country, Overall Rank, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom, Perception of Corruption, Generosity, Dystopia Residual, Lower Confidence Interval, Upper Confidence Interval]
Index: []

No duplicates found in the 2016 data set.

In [18]:
#Export WHR_2016_Checked

df_2016.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR_2016_checked.csv'))

# 3. 2017 World Happiness Data

In [19]:
#Import happiness report 2017 data set

df_2017 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WHR_2017.csv'))

In [20]:
df_2017.head()

,Country,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity,Dystopia Residual,Whisker Low,Whisker High
0,Norway,1,7.54,1.62,1.53,0.80,0.64,0.32,0.36,2.28,7.48,7.59
1,Denmark,2,7.52,1.48,1.55,0.79,0.63,0.40,0.36,2.31,7.46,7.58
2,Iceland,3,7.50,1.48,1.61,0.83,0.63,0.15,0.48,2.32,7.39,7.62
3,Switzerland,4,7.49,1.56,1.52,0.86,0.62,0.37,0.29,2.28,7.43,7.56
4,Finland,5,7.47,1.44,1.54,0.81,0.62,0.38,0.25,2.43,7.41,7.53

In [21]:
df_2017.describe()

,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity,Dystopia Residual,Whisker Low,Whisker High
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.00000
mean,78.000000,5.353742,0.984710,1.188516,0.551806,0.409032,0.123226,0.246968,1.850387,5.255806,5.45200
std,44.888751,1.131070,0.420654,0.287334,0.236795,0.150021,0.101572,0.134779,0.500119,1.144846,1.11898
min,1.000000,2.690000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.380000,2.520000,2.86000
25%,39.500000,4.505000,0.665000,1.040000,0.370000,0.305000,0.060000,0.155000,1.590000,4.375000,4.60500
50%,78.000000,5.280000,1.060000,1.250000,0.610000,0.440000,0.090000,0.230000,1.830000,5.190000,5.37000
75%,116.500000,6.105000,1.320000,1.415000,0.725000,0.515000,0.150000,0.325000,2.145000,6.010000,6.19500
max,155.000000,7.540000,1.870000,1.610000,0.950000,0.660000,0.460000,0.840000,3.120000,7.480000,7.62000

In [22]:
#Check for mixed-type data

for col in df_2017.columns.tolist():
  weird = (df_2017[[col]].applymap(type) != df_2017[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2017[weird]) > 0:
    print (col)

No mixed-type data found in the 2017 data set.

In [23]:
#Check for missing values

df_2017.isnull().sum()

Country                     0
Overall Rank                0
Happiness Score             0
Economy (GDP per Capita)    0
Social Support              0
Health (Life Expectancy)    0
Freedom                     0
Perception of Corruption    0
Generosity                  0
Dystopia Residual           0
Whisker Low                 0
Whisker High                0
dtype: int64

No missing values found in the 2017 data set.

In [24]:
#Check for duplicates

df_dups_17 = df_2017[df_2017.duplicated()]

In [25]:
df_dups_17

Empty DataFrame
Columns: [Country, Overall Rank, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom, Perception of Corruption, Generosity, Dystopia Residual, Whisker Low, Whisker High]
Index: []

No duplicates found in the 2017 data set.

In [26]:
#Export WHR_2017_Checked

df_2017.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR_2017_checked.csv'))

# 4. 2018 World Happiness Data

In [27]:
#Import happiness report 2018 data set

df_2018 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WHR_2018.csv'))

In [28]:
df_2018.head()

,Country,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity
0,Finland,1,7.63,1.31,1.59,0.87,0.68,0.39,0.20
1,Norway,2,7.59,1.46,1.58,0.86,0.69,0.34,0.29
2,Denmark,3,7.56,1.35,1.59,0.87,0.68,0.41,0.28
3,Iceland,4,7.50,1.34,1.64,0.91,0.68,0.14,0.35
4,Switzerland,5,7.49,1.42,1.55,0.93,0.66,0.36,0.26

In [29]:
df_2018.describe()

,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,155.000000
mean,78.500000,5.376154,0.892115,1.213462,0.597885,0.454679,0.111935,0.181032
std,45.177428,1.119455,0.392022,0.302319,0.247881,0.162359,0.096592,0.098305
min,1.000000,2.910000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.457500,0.617500,1.065000,0.420000,0.360000,0.050000,0.110000
50%,78.500000,5.380000,0.950000,1.255000,0.645000,0.485000,0.080000,0.170000
75%,117.250000,6.170000,1.200000,1.462500,0.780000,0.580000,0.140000,0.240000
max,156.000000,7.630000,2.100000,1.640000,1.030000,0.720000,0.460000,0.600000

In [30]:
#Check for mixed-type data

for col in df_2018.columns.tolist():
  weird = (df_2018[[col]].applymap(type) != df_2018[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2018[weird]) > 0:
    print (col)

No mixed-type data found in the 2018 data set.

In [31]:
#Check for missing values

df_2018.isnull().sum()

Country                     0
Overall Rank                0
Happiness Score             0
Economy (GDP per Capita)    0
Social Support              0
Health (Life Expectancy)    0
Freedom                     0
Perception of Corruption    1
Generosity                  1
dtype: int64

Two missing value were found in the 2018 data set. One was in the Perception of Corruption column and the other in the Generosity column. Since there are only two values missing, I will leave them as "N/A".

In [32]:
#Check for duplicates

df_dups_18 = df_2018[df_2018.duplicated()]

In [33]:
df_dups_18

Empty DataFrame
Columns: [Country, Overall Rank, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom, Perception of Corruption, Generosity]
Index: []

No duplicates found in the 2018 data set.

In [34]:
#Export WHR_2018_Checked

df_2018.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR_2018_checked.csv'))

# 5. 2019 World Happiness Data

In [35]:
#Import happiness report 2019 data set

df_2019 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WHR_2019.csv'))

In [36]:
df_2019.head()

,Country,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity
0,Finland,1,7.77,1.34,1.59,0.99,0.60,0.39,0.15
1,Denmark,2,7.60,1.38,1.57,1.00,0.59,0.41,0.25
2,Norway,3,7.55,1.49,1.58,1.03,0.60,0.34,0.27
3,Iceland,4,7.49,1.38,1.62,1.03,0.59,0.12,0.35
4,Netherlands,5,7.49,1.40,1.52,1.00,0.56,0.30,0.32

In [37]:
df_2019.describe()

,Overall Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perception of Corruption,Generosity
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407628,0.905256,1.209487,0.726154,0.393269,0.111090,0.185449
std,45.177428,1.113136,0.398164,0.298840,0.242001,0.143343,0.094245,0.095427
min,1.000000,2.850000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.545000,0.602500,1.060000,0.547500,0.310000,0.050000,0.110000
50%,78.500000,5.380000,0.960000,1.270000,0.790000,0.420000,0.090000,0.180000
75%,117.250000,6.182500,1.232500,1.450000,0.880000,0.510000,0.140000,0.250000
max,156.000000,7.770000,1.680000,1.620000,1.140000,0.630000,0.450000,0.570000

In [38]:
#Check for mixed-type data

for col in df_2019.columns.tolist():
  weird = (df_2019[[col]].applymap(type) != df_2019[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2019[weird]) > 0:
    print (col)

No mixed-type data in the 2019 data set.

In [39]:
#Check for missing values

df_2019.isnull().sum()

Country                     0
Overall Rank                0
Happiness Score             0
Economy (GDP per Capita)    0
Social Support              0
Health (Life Expectancy)    0
Freedom                     0
Perception of Corruption    0
Generosity                  0
dtype: int64

No missing values in the 2019 data set.

In [40]:
#Check for duplicates

df_dups_19 = df_2019[df_2019.duplicated()]

In [41]:
df_dups_19

Empty DataFrame
Columns: [Country, Overall Rank, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom, Perception of Corruption, Generosity]
Index: []

No duplicates found in the 2019 data set.

In [42]:
#Export WHR_2019_Checked

df_2019.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR_2019_checked.csv'))